* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    color: #000;
    text-decoration: none;
}

html,
body {
    width: 100%;
    height: 100%;
}

body::-webkit-scrollbar {
    display: none;
}

/* -------------- */
.main {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: space-around;
    /* gap: 0.2rem; */
    background: #1E195B;
    padding: 0.5rem;
}
.top a.active{
  background: #ffffff;
  color: #000;
}

nav {
    background: #1E195B;
    width: 15%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    border-radius: 0rem 0.5rem 0.5rem 0rem;
}

nav img {
    width: 100px;
    height: 100px;
    align-self: center;
}

.top {
    display: flex;
    flex-direction: column;
    justify-content: center;
    row-gap: 0.5rem;
    /* border: 2px solid #fff; */
}

.top a {
    padding: 1rem;
    background: #ffffff2c;
    border-radius: 0.5rem;
    color: #fff;
    width: 85%;
    align-self: center;
    font-size: 0.9rem;
    transition: all 0.2s ease-in-out;
}

.top a:hover {
    background: #fff;
    color: #1E195B;
}

.bottom {
    display: flex;
    flex-direction: column;
    justify-content: center;
    row-gap: 0.5rem;
    margin-top: 20%;

}

.bottom a {
    color: #fff;
}

/* --- Hero Section --- */
.hero {
    width: 85%;
    height: 100%;
    padding: 0.5rem;
    background: #F2F7FB;
    border-radius: 1.5rem;
    overflow: scroll;
}

.hero::-webkit-scrollbar {
    display: none;
}

/* --- Header --- */
header {
    width: 100%;
    height: 10%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1.5px solid #828284;
    padding: 0.5rem;
}

header input {
    padding: 0.5rem;
    width: 70%;
    border-radius: 0.5rem;
    border: none;
    background: #F0F2FF;
}
.heading{
  width: 50%; 
}
.heading p{
  font-size: 0.9rem;
}
/* ---- Main ---- */
main {
    width: 100%;
    height: 90%;
    padding: 0.2rem;
    border-radius: 0.5rem;
} 
/* ------Form ------ */
form{ 
  background: #fff;
  width: 50%; 
  padding: 0.5rem;
  display: flex;
  flex-direction: column; 
  align-items: center;
  gap: 0.5rem;
  margin: auto;
  border-radius: 0.5rem;

}
form input,select{
  width: 80%;
  height: 40px;
  padding: 0.2rem;
  border: none;  
  outline-color: #1E195B; 
  box-shadow: 2px 2px 5px inset #a7a5a5;
  border-radius: 0.2rem;
}
form textarea{
  width: 80%;
  height: 100px;
  padding: 0.2rem;
}
.btns{
  width: 100%;
  display: flex;
  justify-content:center;
  gap: 0.5rem;
  padding: 0.5rem;
}
.btns button{
  padding: 0.5rem;
  border: none;
  font-weight: bold;
  border-radius: 0.2rem;
  cursor: pointer;
}
.btns button:nth-child(1){
  background: #ef8b09;
  color: #fff;
}
.btns button:nth-child(2){
  background: #3a28ff;
  color: #fff;
}
.btns button:nth-child(3){
  background: #f90633;
  color: #fff;
}

/* Footer */
.dashboard-footer {
  text-align: center;
  font-size: 13px;
  color: #777;
  margin-top: 20px;
}


/* --- Yaha Tak --- */