* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a{
    color: #000;
    text-decoration: none;
}
html,body{
    width: 100%;
    height: 100%;
}
body::-webkit-scrollbar{
    display: none;
}

section {
    width: 100vw;
    height: 100vh;
    padding: 0.5rem;
    /* background: #060317; */
    background: #ecf4f4;
}

.first {
    width: 100%;
    height: 40%;
    /* background: #147FB4; */
    color: #000;
    border-radius: 0.5rem;
    padding: 0.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-bottom: 2px solid #147FB4;
    /* margin-bottom: 5px; */
}

.first p {
    text-decoration: underline;
}

.first img {
    width: 100px;
    height: 100px;
}

.intro {
    text-align: center;
}

/* ---- Cards ---- */
.cards {
    width: 100%;
    height: 50%;
    padding: 0.5rem;
    display: flex;
    justify-content: center;
    gap: 1.5rem;

}

.card {
    background: #fff;
    width: 30%;
    height: 100%;
    border-radius: 0.5rem;
    padding: 0.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    transition: transform 0.2s ease;
    cursor: pointer;
    z-index: 2;
    box-shadow: 0px 1px 1px rgba(3, 7, 18, 0.02),
        0px 5px 4px rgba(3, 7, 18, 0.03),
        0px 12px 9px rgba(3, 7, 18, 0.05),
        0px 20px 15px rgba(3, 7, 18, 0.06),
        0px 32px 24px rgba(3, 7, 18, 0.08);

}

.card:hover {
    transform: scale(1.1);
}

.card i {
    font-size: 3rem;
}

.card:nth-child(1) i {
    color: #5B4FC3;
}

.card:nth-child(2) i {
    color: #E3924C;
}

.btn {
    background: #fff;
    padding: 0.5rem;
    border: none;
    font-weight: bold;
    border-radius: 0.2rem;
    box-shadow: 2px 2px 2px #727171;
    transition: transform 0.2s ease-in-out;
    cursor: pointer;
}

.btn:hover {
    transform: scale(1.1);
    background: #2E4B9F;
    color: #fff;
}
/* --- Footer --- */
footer{
    text-align: center;
    background: #020EE1;
    color: #fff;
    padding: 0.5rem;
    text-decoration: underline;
}
 